:host {
  .tile {
    border: 1px solid gray;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 500px;
    margin-top: 12px;
    padding-right: 18px;
    position: relative;
    display: flex;
    .img-container {
      width: 60px;
      margin-right: 14px;
      img {
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .details-container {
      width: calc(100% - 60px);
    }
    i:hover {
      font-size: 18px;
      color: black;
      cursor: pointer;
    }
    .options-icon {
      position: absolute;
      width: 14px;
      text-align: center;
      top: 7px;
      right: 4px;
      color: gray;
    }
    .tile-options {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 80%;
      display: flex;
      width: 20px;
      text-align: center;
      color: gray;
      flex-direction: column;
      justify-content: space-around;
      background: white;
    }
  }
}
